.app-form {
  margin: 40px;
}

h1 {
  margin-bottom: 20px !important;
}

.input-field {
  display: block;
  padding: 10px;
  margin-bottom: 10px !important;
  width: 80%;
}

textarea {
  height: 200px;
}
