.app-banner {
  width: 100%;
  height: 400px;
  background-image: url("./images/banner.jpg");
  background-repeat: repeat-x;
  z-index: -3;
}

.app-banner img {
  width: 100%;
}

.button-group {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

.account-btn {
  color: white;
  font-weight: 700;
  font-size: 150%;
  padding: 20px 60px;
  margin: 30px;
  border: none;
  background-color: rgba(54, 75, 40, 0.822);
}

.account-btn:hover {
  color: white;

  background-color: #412f11;
}

.account-btn:focus {
  outline: none;
}
