footer {
  background-color: #534c44;
  color: white;
}

.footer-filler-wrapper {
  padding: 50px;
}

.footer-copyright {
  text-align: center;
  font-size: 75%;
  background-color: #342f2a;
  padding-bottom: 10px;
}
