#signupContainer {
    position: relative;
    top: 5vh;
    text-align: center;
    border: 2px solid #ececec;
    margin: 0 auto;
    padding: 50px;
    width: 70vh;
}

#signupTitle {
  color: #1c4a80;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 150%;
}

.signup-input {
  font-family: "Raleway", sans-serif;
  width: 65%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 20px 0px;
}

.signup-input:focus {
  outline: none;
}

::placeholder {
  color: lightgray;
  font-family: "Didact Gothic", sans-serif;
}

#createAccountBtn {

  font-family: "Didact Gothic", sans-serif;
  width: 66%;
  height: 50px;
  color: white;
  background-color: #1c4a80;
  border: none;
  box-shadow: none;
  margin-top: 10%;
}

#createAccountBtn:hover {
  cursor: pointer;
}

.already-have-account {
  font-size: 85%;
}