#loginContainer {
  position: relative;
  top: 10vh;
  text-align: center;
  border: 2px solid #ececec;
  margin: 0 auto;
  padding: 50px;
  width: 70vh;
}

#loginTitle {
  color: #1c4a80;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 150%;
}

.login-icons {
  height: 30px;
  vertical-align: middle;
}

.login-input {
  font-family: "Didact Gothic", sans-serif;
  width: 65%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 20px 0px;
}

.login-input:focus {
  outline: none;
}

::placeholder {
  font-family: "Didact Gothic", sans-serif;
  color: lightgray;
}

#forgotPasswordContainer {
  text-align: end;
  width: 90%;
}
#forgotPassword {
  color: rgba(255, 0, 0, 0.7);
  font-size: 65%;
  font-weight: 700;
  margin-bottom: 5vh;
}

#forgotPassword:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

#loginBtn {
  font-family: "Raleway", sans-serif;
  width: 80%;
  height: 50px;
  color: white;
  background-color: #1c4a80;
  border: none;
  box-shadow: none;
  margin-top: 6%;
  margin-bottom: 4%;
}

#loginBtn:hover {
  cursor: pointer;
}

#newAccount {
  color: #1c4a80;
  font-weight: 700;
  margin: 10vh;
}

#newAccount:hover {
  color: rgb(72, 199, 65);
  cursor: pointer;
  text-decoration: underline;
}
