.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-banner {
  position: absolute;
  height: 500px;
  overflow: hidden;
}

.app-banner img {
  width: 100%;
}

.app-content {
  position: relative;
  padding: 0px 50px;
}

.app-intro {
  text-align: start;
  padding: 100px 0px;
  color: white;
  font-weight: 400;
}

.app-marketing {
  padding: 100px 0px;
}

.app-marketing h1,
.app-marketing p {
  text-align: center;
}

.app-services {
  text-align: start;
}

.crispy-logo {
  display: inline;
}

.who-paragraph {
  padding: 10px 20px;
  border-left: 3px solid #334120;
}

.custom-icon {
  width: 30px;
  height: 30px;
}
