.block-web {
  padding: 0 20vw;
}

.block-mobile {
  padding: 0 10vw;
}

.center-icon {
  text-align: center;
}

.custom-icon {
  width: 30px;
  height: 30px;
}

.app-banner {
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("./images/banner2.jpg");
  background-repeat: repeat-x;
  overflow: hidden;
}

.app-banner img {
  width: 100%;
}

.app-content {
  position: relative;
}

.button-group {
  height: 500px;
}

.app-intro p {
  border-left: 3px solid #334120;
  text-align: start;
  padding: 10px 20px;
  font-weight: 400;
}

.app-marketing {
  background-color: #252525;
  padding: 100px 0px;
  color: white;
}

.app-marketing h1,
.app-marketing p {
  text-align: center;
}

.app-services {
  text-align: start;
}

.crispy-logo {
  display: inline;
}

.who-paragraph {
  padding: 10px 20px;
}

#map {
  height: 96%;
  width: 100%;
}
