// Override default variables before the import
//$body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");

body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 125%;
}
a {
  color: white;
}
a:hover {
  color: rgb(41, 194, 62);
  cursor: pointer;
}

.block-web {
  padding: 0 20vw;
}

.block-mobile {
  padding: 0 10vw;
}

.center-icon {
  text-align: center;
}

.custom-icon {
  width: 30px;
  height: 30px;
}
