// Override default variables before the import
//$body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");

body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 125%;
}
a {
  color: white;
}
a:hover {
  color: rgb(41, 194, 62);
  cursor: pointer;
}

nav {
  background-color: #334120;
  color: white !important;
}

footer {
  background-color: #412f11;
  color: white;
}

.footer-filler-wrapper {
  padding: 50px;
}

.footer-copyright {
  text-align: center;
  font-size: 75%;
  background-color: #271a05;
  padding-bottom: 10px;
}
